// Colors
$soft-cyan: hsl(174, 77%, 80%);
$strong-cyan: hsl(174, 86%, 45%);
$light-grayish-red: hsl(14, 92%, 95%);
$light-red: hsl(15, 100%, 70%);
$pale-blue: hsl(226, 100%, 87%);

$white: hsl(0, 0%, 100%);
$very-pale-blue: hsl(230, 100%, 99%);
$light-grayish-blue: hsl(224, 65%, 95%);
$secondary-light-grayish-blue: hsl(223, 50%, 87%);
$grayish-blue: hsl(225, 20%, 60%);
$dark-saturated-blue: hsl(227, 35%, 25%);

// Font bold
$font-md: 600;
$font-lg: 800;

// Buttons

.btn {
  display: inline-block;
  background-color: $dark-saturated-blue;
  color: $pale-blue;
  font-weight: $font-md;
  outline: none;
  border: none;
  cursor: pointer;
  margin-top: rem(30px);
  padding: rem(15px) rem(50px);
  border-radius: rem(25px);
  -webkit-border-radius: rem(25px);
  -moz-border-radius: rem(25px);
  -ms-border-radius: rem(25px);
  -o-border-radius: rem(25px);
}